<div class="merchant-register-container">   

    <!--注册表单-->
    <div class="merchant-register-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="text" class="form-control" placeholder="用户名" formControlName="loginName"/>
                        <control-messages [control]="form.controls.loginName"></control-messages>
                        <div class="info" *ngIf="form.controls.loginName.pristine">用户名长度4-20个字符</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="password" class="form-control" placeholder="密码" formControlName="password" />
                        <control-messages [control]="form.controls.password"></control-messages>
                        <div class="info" *ngIf="form.controls.password.pristine">密码长度最少6个字符，必需包含至少一个数字</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="password" class="form-control" placeholder="密码确认" formControlName="passwordConfirm"/>
                        <control-messages [control]="form.controls.passwordConfirm"></control-messages>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="text" class="form-control" placeholder="商户全称" formControlName="name" />
                        <control-messages [control]="form.controls.name"></control-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="text" class="form-control" placeholder="设备号" formControlName="deviceNo" />
                        <control-messages [control]="form.controls.deviceNo"></control-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="text" class="form-control" placeholder="手机号" formControlName="phone" />
                        <control-messages [control]="form.controls.phone"></control-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="text" class="form-control" placeholder="邮箱" formControlName="email" />
                        <control-messages [control]="form.controls.email"></control-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="text" class="form-control" placeholder="商户简称" formControlName="shortName" />
                        <control-messages [control]="form.controls.shortName"></control-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="text" class="form-control" placeholder="商户地址" formControlName="address" />
                        <control-messages [control]="form.controls.address"></control-messages>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-block" [disabled]="!form.valid">完&nbsp;成</button>
            </div>
        </form>
    </div>

</div>