<div class="register">
    <div class="registerPanel">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="logo"><img src="assets/img/logo2.png" class="img-fluid"></div>
            </div>
        </div>

        <!--开户入口-->
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="account-open entrance1 text-xs-center animated  bounceInLeft">
                    <a [routerLink]="['/register/customer']">
                        <i class="fa fa-frown-o fa-3x" aria-hidden="true"></i>
                        <div>我是用户</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="account-open entrance2 text-xs-center animated  bounceInRight">
                    <a [routerLink]="['/register/merchant']">
                        <i class="fa fa-balance-scale fa-3x" aria-hidden="true"></i>
                        <div>我是商家</div>
                    </a>
                </div>
            </div>
        </div>

        <!--底部纹理-->
        <div class="architecture">
            <img src="assets/img/architecture.png" class="img-fluid">
        </div>
    </div>
</div>