.opentime-container {
    outline: 0;
    top: 0;
    left: 0px;
    right: 0px;
    margin-left: 0;
    margin-right: 0;    
    position: absolute;
    overflow: auto;
}
.table-btns{
    position: relative;
    height: 50px;
}
.table-btns button{
    position: absolute;
    right: 10px;  
}
.open-time-list {
    margin-top: 10px;
}
.open-label {
    padding-left: 25px;
    padding-top: 15px;
}
form .btn-group button {
    margin-right: 10px;
}
.l-h-5{
    line-height: 5;
}
md-slide-toggle {
    float: right;
}
.md-myprimary[md-raised-button], .md-myprimary[md-fab], .md-myprimary[md-mini-fab] {
    background-color: #0275d8;
}
.md-myprimary.md-checked .md-slide-toggle-thumb {
    background-color: #0275d8;
}