<div class="password-modify-container">    

    <!--注册表单-->
    <div class="password-modify-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="password" class="form-control" placeholder="密码" formControlName="password" />
                        <control-messages [control]="form.controls.password"></control-messages>
                        <div class="info" *ngIf="form.controls.password.pristine">密码长度最少6个字符，必需包含至少一个数字</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <input type="password" class="form-control" placeholder="密码确认" formControlName="passwordConfirm" />
                        <control-messages [control]="form.controls.passwordConfirm"></control-messages>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-block" [disabled]="!form.valid">完&nbsp;成</button>
            </div>
        </form>
    </div>

</div>