<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="row login-formcontent">
        <div class="col-md-5 col-xs-12">
            <div class="form-group">
                <label for="userName" class="col-md-3 p0">用户名&nbsp;&nbsp;</label>
                <div class="col-md-9 p0 input-text-box">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" class="form-control" placeholder="用户名" required [(ngModel)]="model.loginName" name="loginName">
                </div>
                <p class="login-errorMsg" *ngIf="loginNameError">用户名不存在</p>
            </div>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="form-group">
                <label for="password" class="col-md-3 p0">密码&nbsp;&nbsp;</label>
                <div class="col-md-9 p0 input-text-box">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" class="form-control" placeholder="密码" required [(ngModel)]="model.password" name="password">
                </div>
                <p class="login-errorMsg" *ngIf="passwordError">密码不正确</p>
            </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <div class="col-md-12 p0">
                <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">登&nbsp;陆</button>
            </div>
        </div>
    </div>
</form>