.cart-container {
    font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,sans-serif;
    color: #333;
    outline: 0;
    margin-bottom: 50px;
}
.card-container {
   padding-top: 15px;    
}
.cart-card{
    position: relative;    
    padding: 0 0 15px 15px;
    margin-bottom: 30px;
    background-color: #fff;
}
.cart-card::last-child {
    margin-bottom: 50px;
}
.merchant-info {
    line-height: 35px;
    border-bottom: 1px solid #ddd;
}
.merchant-name {
    vertical-align: middle;
}
.cart-items {
   margin: 0;
   padding: 0;
   outline: none;
   display: block;
}
.cart-item {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cart-item .promote {
    margin-bottom: 10px;
    padding: 7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cart-item .promote  {
    margin-bottom: 10px;
    padding: 7px 0;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cart-item .promote .strong {
    color: #fff;
    line-height: 21px;
    width: 54px;
    text-align: center;
    display: inline-block;
    background: url(assets/img/icon2.png) no-repeat;
    background-size: 500px;
    background-position: -409px -403px;
}
.item-box {
    padding: 10px 15px 10px 0;
    border-bottom: 1px solid #ddd;
}
.check {
    padding-top: 25px;
}
.product-info {
    max-width: 70%;
    overflow: hidden;
}
.img-wrap {
    position: relative;
    display: block;
    border: 1px solid #ddd;
    width: 62px;
    height: 62px;
}
.img-wrap img {
    width: 62px;
    height: 62px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-desc {
    margin-left: 70px;
    max-width: 70%;
    overflow: hidden;   
}
.product-desc .title {
    line-height: 17px;
}
.product-desc .sku {
    color: #999;
    height: 18px;
}
.f-toe {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.set-count .countbox {
    display: table;
    height: 27px;
    line-height: 1;
    overflow: hidden;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    text-align: center;
}
.set-count .countbox .minus,
.set-count .countbox .plus {
    display: table-cell;
    width: 34px;
    height: 100%;
    vertical-align: middle;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
}
.set-count .countbox .minus i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(assets/img/icon2.png) no-repeat;
    background-size: 500px;
    background-position: -148px -406px;
    cursor: default;
}
.set-count .countbox .minus i.active {
    background-position: -83px -406px;
}
.set-count .countbox .plus i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(assets/img/icon2.png) no-repeat;
    background-size: 500px;
    background-position: -52px -406px;
    cursor: default;
}
.set-count .countbox .plus i.disable {
    background-position: -113px -406px;
}    
.set-count .countbox .ipt {
    width: 48px;
    padding: 0 2px;
    margin: 0;
    line-height: 1;
    height: 100%;
    font-size: 15px;
    text-align: center;
    border-radius: 0;
    color: #333;
    font-weight: bold;
    border: 1px solid #aaa;
    border-width: 0 1px;
    outline: 0;
    font-family: tahoma,arial,simsun;
}
.product-price {
    text-align: right;
}
.product-price p{
    line-height: 1.3;
    margin: 0;
}
.product-price .price > i{
    font-weight: bold;
}
.product-price .amount {
    color: #656565;
    margin-bottom: 5px;
    font-family: simsun;
}
.product-remove {
    display: inline-block;
    width: 20px;
    height: 21px;
    cursor: pointer;
    background: url(assets/img/icon1.png) no-repeat;
    background-size: 500px;
    background-position: -294px -189px;   
}
.gather {
    padding: 10px 15px 0 0;
}
.gather .rpart {
    text-align: right;
}
.gather .tprice {
    color: #b2b2b2;
}
.gather .val {
    width: 60px;
    display: inline-block;
}
.gather .total {
    margin-bottom: 5px;
}
.gather .total .val,
.gather .total i {
    color: #d31b43;
}
.gather .total i {
    font-weight: bold;
}
.item-box:after,
.gather:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}