<div class="cart-container">
    <div class="card-container">
        <div class="cart-card" *ngFor="let cart of carts">
            <p class="merchant-info">
                <label class="merchant-name">{{cart.merchant.name}}</label>
            </p>
            <ul class="cart-items">
                <li class="cart-item" *ngFor="let item of cart.cartItems">
                    <p class="promote" *ngIf="item.product.needPay">
                        <span class="strong">提前支付</span>
                        <span>该商品要求支付后订单才能生成</span>
                    </p>
                    <div class="item-box">
                        <div class="check pull-left">
                            <md-checkbox [checked]="item.isChecked" (change)="changeItemCheck(item,$event)">
                            </md-checkbox>
                        </div>
                        <div class="product-info pull-left">
                            <div class="pull-left">
                                <a class="img-wrap">
                                    <img *ngIf="item.product.imageSource" [src]="imagePreUrl+item.product.imageSource+'-sm'">
                                    <img *ngIf="!item.product.imageSource" src="assets/img/orderpic_03.png">
                                </a>
                            </div>
                            <div class="product-desc">
                                <p class="title f-toe">
                                    <span>{{item.name}}</span>
                                </p>
                                <div class="set-count">
                                    <span class="countbox">
                                        <span class="minus z-dis" (click)="minusQuality(item)"><i [class.active]="item.quantity > 1"></i></span>
                                        <input type="text" class="ipt" [(ngModel)]="item.quantity" readonly="readonly" autocomplete="off" min="1" max="5">
                                        <span class="plus" (click)="addQuality(item)"><i [class.disable]="item.quantity > 5"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-price pull-right">
                            <p class="price">¥<i>{{item.unitPrice}}</i></p>
                            <p class="amount">×{{item.quantity}}</p>
                            <b class="product-remove" (click)="removeItem(cart,item)"></b>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="gather">
                <span class="pull-left">已选商品<i>{{getTotalQuality(cart)}}</i>件</span>
                <div class="rpart pull-right">
                    <p class="tprice">商品总额：<span class="val">¥{{getTotalPirce(cart) | numberFormatPipe}}</span></p>
                    <p class="tprice">活动优惠：<span class="val">-¥0.00</span></p>
                    <p class="total">总计：<span class="val">¥<i class="f-fw">{{getTotalPirce(cart) | numberFormatPipe}}</i></span></p>
                    <button md-raised-button color="warn" (click)="purchase(cart)">结算</button>
                </div>
            </div>
        </div>
    </div>
</div>