<div class="product-container">
    <tabset class="varieties-shop">
        <tab *ngFor="let c of categorys;let i = index" [heading]="c.name" [active]="i === 0">
            <div *ngFor="let p of c.products">
                <div class="product-edit-panel container">
                    <div class="info-head row  bbe9">
                        <div class="product-image-panel">
                            <img *ngIf="p.imageSource" [src]="imagePreUrl+p.imageSource+'-sm'" style="width:50px; height:50px;">
                            <img *ngIf="!p.imageSource" src="assets/img/orderpic_03.png" style="width:50px; height:50px;">
                        </div>
                        <div class="product-price">
                            <h5>{{p.name}}</h5>
                            <div class="row pb10">
                                <div class="col-xs-12">
                                    <div class="gray9 font12 pt5">
                                        单价：<span class="green">￥<span class="font14 arial bold">{{p.unitPrice}}</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-info-panel row">
                        <form #form="ngForm">
                            <div class="row bbe9 pb10 pt10" *ngIf="!p.infinite">
                                <div class="col-xs-12">
                                    <span class="gray9">数量：</span>
                                    <input type="number" class="unit-in-stock" [(ngModel)]="p.unitsInStock" name="unitsInStock">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 pt20">
                                    无限库存
                                </div>
                                <div class="col-xs-5 text-xs-right">
                                    <md-slide-toggle color="primary" [checked]="p.infinite" (change)="p.infinite = $event.checked">
                                    </md-slide-toggle>
                                </div>
                            </div>
                            <div class="row bbe9">
                                <div class="col-xs-7 pt20">
                                    上下架
                                </div>
                                <div class="col-xs-5 text-xs-right">
                                    <md-slide-toggle color="primary" [checked]="!p.status" (change)="changeProductStatus($event,p)">
                                    </md-slide-toggle>
                                </div>
                            </div>
                            <div class="row mt10 text-xs-right">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-info btn-sm" (click)="update(p)">更新</button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-danger btn-sm" (click)="modify(p.id)">编辑</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
    <ng2-toasty position="top-right"></ng2-toasty>
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
</div>