.row {
    display: block;
}
.inline.row{
    display: flex;
}
.create-container {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
    padding-left:5px;
    padding-right:5px;
}
.tab-container {
    padding: 10px 5px 0 10px;
    margin-bottom: 45px;
}
.info-form .submit {
    padding-bottom: 45px;
}
.input-tip {    
    margin-left: 0;
}
.btn-submit {
    background: #4cc05f;
    color: #fff;
    font-size: 16px;
}
.upload-container {
    margin-top: 10px;
}　
img {
    width: 100%;
}