<!--底部菜单-->
<div class="bottom-nav row text-xs-center affix font12">
    <div class="col-xs-3 pt5 pb5 meun" (click)="menuClick('order')">
        <a [routerLink]="['/merchant/order']" [class.active]="isOrder" class="block black">
            <div class="icon m0"><i class="fa fa-home fa-fw"></i></div>
            <div>首页</div>
        </a>
    </div>
    <div class="col-xs-3 pt5 pb5 meun" (click)="menuClick('product')">
        <a [routerLink]="['/merchant/product']"  [class.active]="isProduct" class="block black posr">
            <div class="icon m0"><i class="fa fa-product-hunt fa-fw"></i></div>
            <div>商品</div>
        </a>
    </div>    
    <div class="col-xs-3 pt5 pb5 meun" (click)="menuClick('cart')">
        <a [routerLink]="['/merchant/cart']" [class.active]="isCart" class="block black posr">
            <div class="icon m0"><i class="fa fa-cart-plus fa-fw"></i></div>
            <div>订单</div>
        </a>
    </div>    
    <div class="col-xs-3 pt5 pb5 meun" (click)="menuClick('my')">
        <a [routerLink]="['/merchant/my']"  [class.active]="isMy" class="block black">
            <div class="icon m0"><i class="fa fa-user fa-fw"></i></div>
            <div>我</div>
        </a>
    </div>
</div>