<div class="merchant-register-container">

    <!--注册表单-->
    <div class="merchant-register-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">用户名&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" [readonly]="true" formControlName="loginName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">商户全称&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="name" />
                                <control-messages [control]="form.controls.name"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">设备号&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="deviceNo" />
                                <control-messages [control]="form.controls.deviceNo"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">手机号&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="phone" />
                                <control-messages [control]="form.controls.phone"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group p-l-20">
                            <md-checkbox align="start" formControlName="takeByPhone">
                                手机号码提货
                            </md-checkbox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group p-l-20">
                            <md-checkbox align="start" formControlName="takeByPhoneSuffix">
                                手机号码后四位提货
                            </md-checkbox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">邮箱&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="email" />
                                <control-messages [control]="form.controls.email"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">商户简称&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="shortName" />
                                <control-messages [control]="form.controls.shortName"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">商户地址&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="address" />
                                <control-messages [control]="form.controls.address"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">店铺说明&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <textarea class="form-control" rows="5" formControlName="description"></textarea>
                                <control-messages [control]="form.controls.description"></control-messages>
                                <div class="info" *ngIf="form.controls.description.pristine">店铺说明长度4-255个字符</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-block" [disabled]="!form.valid">完&nbsp;成</button>
            </div>

        </form>
    </div>

</div>