.input-tip {  
    color: #a90329; 
    font-size: 12px; 
    padding-top: 10px;
    margin-left: 15px;
}
.input-tip span i {   
    vertical-align: baseline;
    margin-right: 6px;
}
.txt-color-red {
    color: #a90329;
}