.loginPanel{
    padding:0 15px;
}
@media (min-width: 1200px){
  .loginPanel{
    padding:0 255px;
  }
}
.logo {
	width: 80px;
	height: 25px;
	margin-top: 20px;
}
@media (min-width: 1200px){
  .logo {
    width: 170px;
    height: 53px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.login-other {
	right: 0px;
	left: 0px;
	bottom: 20px;
	color: #338fe6;
  position:fixed;
}
.login-other a {
	color: #338fe6
}

@media (min-width: 960px) {
  .login-other, .login-other a {
	  color: #fff
  }
}
@media (min-width: 768px) {
  .login-other, .login-other a {
	color: #fff
  }
}
