.header {
    background: #3090e6;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding-top: 4px;
}
.customer-register-form {
    padding: 15px 15px;
}
p.prompt {
    color: #646464;
    font-size: 12px;
}
.btn-submit {
    background: #4cc05f;
    color: #fff;
    font-size: 16px;
}
.p0 {
    padding: 0px!important;
}
.customer-register-form .input-text-box {
    position: relative;
}
.customer-register-form .input-text-box i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #ccc;
}
.customer-register-form .input-text-box.input-text-box1 .form-control {
    padding: 6px 10px 6px 32px;
}
.customer-register-form .input-text-box.input-text-box1 label {
    padding-left: 32px;
}
.customer-register-form .input-text-box .form-control {
    height: 44px;
    border: 0px;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 0px;
    padding: 6px 96px 6px 32px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
}
.info {
  margin-left: 15px;
  color: #c5c5c5; 
  height: 27px;
  font-size: 12px;
  padding-top: 10px;
}
