<div class="customer-register-container">

    <!--注册表单-->
    <div class="customer-register-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">用户名&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" [readonly]="true" formControlName="loginName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">姓名&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="name" />
                                <control-messages [control]="form.controls.name"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">卡号&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="cardNo" />
                                <control-messages [control]="form.controls.cardNo"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">手机号&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="phone" />
                                <control-messages [control]="form.controls.phone"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p0 input-text-box input-text-box1">
                        <div class="form-group">
                            <label for="userName" class="col-xs-12">邮箱&nbsp;&nbsp;</label>
                            <div class="col-xs-12 p0 input-text-box">
                                <input type="text" class="form-control" formControlName="email" />
                                <control-messages [control]="form.controls.email"></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-block" [disabled]="!form.valid">完&nbsp;成</button>
            </div>

        </form>
    </div>

</div>