<div class="portal-container">
    <div class="table-btns">
        <button md-mini-fab color="myprimary" (click)="addMerchant($event)">
                 <md-icon fontSet="fa" fontIcon="fa-plus"></md-icon>
              </button>
    </div>   

    <md-card *ngFor="let m of merchants">
        <md-card-title>{{m.shortName}}</md-card-title>
        <md-card-content>
            <p>
                <span class="demo-secondary-text">全称 -- </span>
                <span>{{m.name}}</span>
            </p>
            <p>
                <span class="demo-secondary-text">地址 -- </span>
                <span>{{m.address}}</span>
            </p>
        </md-card-content>
        <md-card-actions align="end">
            <button md-raised-button color="primary" (click)="cancelConcern(m)">取消关注</button>
            <button md-raised-button color="primary" (click)="goToMerchant(m)">详情</button>
        </md-card-actions>
    </md-card>

</div>