.portal-container {
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 45px;
    margin-left: 0;
    margin-right: 0;    
    position: absolute;
    overflow: auto;
}

.portal-container md-nav-list a[md-list-item] [md-list-icon] {
    width: 38px;
    height: 38px;
    font-size: 1.5em;
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

.cart-card:last-child {
    margin-bottom: 50px;
}