<div class="order-container">
    <md-tab-group class="tab-group" [selectedIndex]="selectedTab" (selectChange)="tabChange($event)">
        <md-tab *ngFor="let tab of tabs">
            <template md-tab-label>{{tab.label}}</template>
            <template md-tab-content>
                <div>
                    <ul class="notification-body" *ngFor="let cart of cartPage.content">
                        <li>
                            <span>
			                    <div class="bar-holder no-padding">
				                    <p class="margin-bottom-5">
                                        <strong>订单编号：</strong>
                                        <i>{{cart.no}}</i>                    
                                    </p>
                                    <div class="bar-info">
                                        <div class="bar-btn">
                                            <button type="button" class="btn btn-sm btn-secondary" (click)="showDetail(cart)">
                                                {{cart.showDetail?'收起':'详情'}}
                                            </button>
                                        </div>
                                        <div class="note no-margin">
                                            <span>订单状态：</span>
                                            <i class="fa fa-jpy text-danger padding-right-10" *ngIf="cart.needPay"></i>
                                            <i class="fa fa-check text-success padding-right-10" *ngIf="!cart.needPay"></i> {{cart.status
                                                | cartStatusFormatPipe}}
                                        </div>
                                        <div class="note no-margin">
                                            <span>商品数量：</span>
                                            <span>{{getProductNumber(cart)}}</span>
                                        </div>
                                        <div class="note no-margin">
                                            <span>生成时间：</span>
                                            <span>{{cart.createdOn | dateFormatPipe:"YYYY-MM-DD HH:mm:ss"}}</span>
                                        </div>
                                        <div class="note no-margin">
                                            <span>取货时间：</span>
                                            <span>{{cart.takeTime | dateFormatPipe:"YYYY-MM-DD HH:mm:ss"}}</span>
                                        </div>
                                        <div class="note no-margin text-danger" *ngIf="cart.status === 0">
                                            <span>支付时限：</span>
                                            <span>{{cart.payTime | dateFormatPipe:"YYYY-MM-DD HH:mm:ss"}}</span>
                                        </div>
                                    </div>
                                    <div class="bar-detail" *ngIf="cart.showDetail">
                                        <table class="table">
                                            <tbody>
                                                <tr *ngFor="let cartItem of cart.cartItems">
                                                    <td>{{cartItem.name}}</td>
                                                    <td><i class="fa fa-jpy padding-right-5"></i>{{cartItem.unitPrice}}</td>
                                                    <td>{{cartItem.quantity}}</td>
                                                    <td><i class="fa fa-jpy padding-right-5"></i>{{cartItem.totalPrice}}</td>
                                                </tr>
                                                <tr class="dashed">
                                                    <td colspan="3"></td>
                                                    <td><i class="fa fa-jpy padding-right-5"></i>{{cart.totalPrice}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div *ngIf="cart.status === 0">
                                        <button md-raised-button color="warn" class="bill-btn" (click)="paying(cart)">支付订单</button>
                                    </div>    
                                    <div *ngIf="cart.status === 3">
                                        <button md-raised-button color="warn" class="bill-btn" (click)="deliver(cart)">完成订单</button>
                                    </div>     
                                </div>
                            </span>
                        </li>
                    </ul>
                    <div class="text-xs-center margin-top-10" *ngIf="cartPage.content && !cartPage.last">
                        <button type="button" class="btn btn-secondary" (click)="queryNextPage()">下一页</button>
                    </div>
                </div>
            </template>
        </md-tab>
    </md-tab-group>
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
</div>