<div class="category-container">
    <tabset class="varieties-shop">
        <tab *ngFor="let c of categorys;let i = index" [heading]="c.name" [active]="i === 0">

            <div *ngFor="let p of c.products" class="list-group">
                <a class="list-group-item" (click)="detail(p)">
                    <div class="media-box">
                        <div class="pull-left">
                            <img *ngIf="p.imageSource" [src]="imagePreUrl+p.imageSource+'-sm'" style="width:50px; height:50px;">
                            <img *ngIf="!p.imageSource" src="assets/img/orderpic_03.png" style="width:50px; height:50px;">
                        </div>
                        <div class="pull-right">
                            <button md-mini-fab class="add-cart-btn1" color="warn" [disabled]="p.status === 1 ||(!p.infinite && p.unitsInStock === 0)" (click)="addCart($event,p)">
                                <md-icon fontSet="fa" fontIcon="fa-plus" (click)="cancelConcern($event,m)"></md-icon>
                            </button>
                        </div>
                        <div class="media-box-body clearfix">
                            <div class="body-container">
                                <p class="m0">{{p.name}}</p>
                                <p class="m0 text-muted">
                                    <small>单价：</small><small class="green">￥<small class="bold">{{p.unitPrice}}</small></small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </tab>
    </tabset>
    <ng2-toasty position="top-right"></ng2-toasty>
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
</div>