.bottom-nav {
    background: #f3f3f4;
    border-top: 1px solid #c6c6c6;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 45px;
    margin-left: 0;
    margin-right: 0;
    position:fixed;
    z-index: 3;
}

.font12 {
    font-size: 12px;
}
.pb5 {
    padding-bottom: 5px;
}
.pt5 {
    padding-top: 5px;
}
a.active,
a.active > .icon {
    color:#e62625;
}
a, a:hover, a:link {
    text-decoration: none;
}
.icon {
    height: 14px;
    color: #999c9e;
}
.m0 {
    margin: 0 auto;
}
.cart {
    position: relative;
}
.cart-count {
    position: absolute;
    min-width: 16px;
    height: 16px;
    top: -3px;
    background-color: #d22147;
    color: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0 4px;
}