<div class="my-container">
    <div class="user-info">
        <div class="user-info-detail">
            <div class="user-phone">
                <div class="one">
                    <p>用户名：</p>
                </div>
                <div class="two">
                    <p>{{customer.loginName}}</p>
                </div>
            </div>
            <div class="user-phone">
                <div class="one">
                    <p>手&nbsp;&nbsp;&nbsp;机：</p>
                </div>
                <div class="two">
                    <p>{{customer.phone}}</p>
                </div>
            </div>
            <div class="user-email">
                <div class="one">
                    <p>邮&nbsp;&nbsp;&nbsp;箱：</p>
                </div>
                <div class="two">
                    <p>{{customer.mail}}</p>
                </div>
            </div>
        </div>
    </div>     
    <div class="detail row">
         <div class="order-number col-xs-5">
            <div>今日订单</div>
            <div class="number">{{cartNumber}}</div>
        </div>
        <div class="divide col-xs-1"></div>
        <div class="money-number col-xs-5">
            <div>关注店铺</div>
            <div class="number">{{merchantNumber}}</div>
        </div>
    </div>

    <div id="nav" class="row">
        <div class="col-xs-4 col-sm-2 menuitem">
            <a [routerLink]="['/customer/modifyuser']"><i class="fa fa-info"></i><span>修改信息</span></a>
        </div>
        <div class="col-xs-4 col-sm-2 menuitem">
            <a [routerLink]="['/modifypassword']"><i class="fa fa-key ui-menu-color02"></i><span>修改密码</span></a>
        </div>        
        <div class="col-xs-4 col-sm-2 menuitem">
            <a [routerLink]="['/customer/merchant']"><i class="fa fa-object-group ui-menu-color04"></i><span>添加商铺</span></a>
        </div>
        <div class="clearfix"></div>        
    </div>
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
</div>