.my-container {
    background-color: #f5f5f5;    
}
.user-info {
  padding-top:5px;
  margin: 0;
}
.profile-img {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.login-name {
    font-size: 18px;
    color:#333;
    margin: 6px 0px;
}
.user-level{
    margin-bottom: 10px;
}
.one {
    color:#333;
    display: inline-block;
    width: 25%;
    z-index: 2;
    padding-top: 2px;
    vertical-align: top;
}
.two {
    display: inline-block;
    color: #000;
    padding-top: 2px;
}
.rank s {
    background: url(images/add/rank2014.gif);
    display: inline-block;
    height: 17px;
    margin-right: 5px;
    text-decoration: none;
    width: 17px;
    vertical-align: middle;
}
.rank.r4 s {
    background-position: 0 -51px;
}
.detail {
    margin: 10px 0;
}
.detail > div {
    padding: 20px 0;
    text-align: center;
}
.divide {
    height: 60px;
    margin-top: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.117647);  
}
.order-number div,
.money-number div {
    padding: 10px 0px 5px 0px;
}
.number {
    font-size: 16px;
}
ul {  
    list-style: none;  
    padding: 0px;
    margin: 0;
}   
.menuitem {
    min-height: 120px;
    background: #ffffff;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.117647);    
    margin-right:-1px; 
    margin-bottom:-1px;
}
.menuitem:hover {  
    cursor: pointer; 
 }
.ui-menu-color01 {
    color: #1abc9c !important;
}
.ui-menu-color02 {
    color: #3498db !important;
}
.ui-menu-color03 {
    color: #9b59b6 !important;
}
.ui-menu-color04 {
    color: #e67e22 !important;
}
.ui-menu-color05 {
    color: #e74c3c !important;
}
.ui-menu-color06 {
    color: #d9a81d !important;
}
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #555;
}
.menuitem a i {
    padding-top: 10px;
    display: block;
}
.menuitem a i:before {   
    font-size: 40px;
    margin: 0;
}
.menuitem a span {
    display: block;    
    font-size: 12px;
    padding-top: 15px;
}
@media (max-width: 400px){
  .padding-50 {
    padding: 30px 14px 35px 14px;
  }
}
.padding-50 {
    padding: 35px 50px 40px 50px;
}
.padding-30, .padding-40,
.padding-50, .padding-60 {
    overflow: hidden;
}
@media (max-width: 400px){
  .padding-50 {
    padding: 30px 14px 35px 14px;
  }
}
.padding-50 {
    padding: 35px 50px 40px 50px;
}
.padding-30, .padding-40, 
.padding-50, .padding-60 {
    overflow: hidden;
}
.my-container .row {
    margin-left: 0;
    margin-right : 0;
}